h1{
    display: inline;
    color: rgb(175, 38, 0);
    border: 2px solid rgb(255, 152, 88);
}
h2{
    color: blue;
    display: inline;
    border: 2px solid rgb(255, 152, 88);
}
ol{
    border: 2px solid rgb(255, 152, 88);
    display: inline-block;
    color: rgb(12, 173, 0);
}
table{
    margin-top: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding: 10px;
}